.about {
    margin-left: 35px;
}

.about h1{
    font-size: 72px;
    margin-bottom: 0px;
    font-family: cursive;
} 

.about h4{
    margin-top: 0px;
}

.about .bold{
    font-weight: bold;
    margin-top: 28px;
}

.about p{
    margin-top: 15px;
}